@font-face {
	font-family: "Inter";
	src: url("assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf")
		format("truetype");
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: "Lora";
	src: url("assets/fonts/lora/Lora-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: "Inconsolata";
	src: url("assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf")
		format("truetype");
	font-weight: 100 900;
	font-style: normal;
}

/* Définition des variables de couleur et de police */
:root {
	--color-white: #2d2d2d;
	--color-background-primary: #ffffff;
	--color-background-secondary: #f4f4f4;
	--color-border-separator: #3a3a3a;
	--color-text-secondary: #757575;
	--color-accent-primary: #8f19e8;
	--color-accent-secondary: #a445ed;

	--font-primary: "Inter", sans-serif;
}

* {
	-webkit-transition: 0.4s;
	font-family: var(--font-primary); /* Utilisation de la variable de police */
	color: var(--color-white); 
	outline: none;
}

body {
	padding: 0px 20%;
	background-color: var(
		--color-background-primary
	); 
}

header {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

header > div {
	display: flex;
}

header > div > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.Info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Seach {
	margin-top: 15px;
	display: grid;
	grid-template-columns: 5fr 1fr;
	border-radius: 16px;
	background-color: var(
		--color-background-secondary
	); 
	padding: 15px;
}

.Seach > * {
	border: 0;
	background-color: var(
		--color-background-secondary
	); 
}

.Info button {
	border: 0;
	background: transparent;
}

.meanings > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.meanings > div:nth-child(1) > hr {
	border-bottom: var(--color-border-separator) solid 1px; 
	width: 100%;
	margin-left: 20px;
}

.meanings > p {
	font-weight: 400;
	font-size: 20px;
	color: var(
		--color-text-secondary
	); 
}

.meanings > ul > li::marker {
	color: var(
		--color-accent-primary
	); 
}

.meanings > ul > li > span {
	color: var(
		--color-text-secondary
	); 
}

.meanings > ul > li {
	padding-bottom: 15px;
}

.meanings > ul > li footer {
	border-top: var(--color-border-separator) 1px solid; 
}

.meanings > div:last-child {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.meanings > div:last-child > p:last-child {
	color: var(
		--color-accent-secondary
	); 
	font-weight: 700;
	font-size: 20px;
}

footer > p {
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0px;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-offset: 0%;
	text-decoration-thickness: 0%;
	color: var(
		--color-text-secondary
	); 
}

footer > a {
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0px;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-offset: 0%;
	text-decoration-thickness: 0%;
	color: var(--color-white); 
}

div.Info,
footer {
	display: none;
}

select {
	width: 10rem;
	background-color: transparent;
	border: 1px solid transparent;
	cursor: pointer;
	appearance: none;
}

select > option {
	border: 1px solid transparent;
	background-color: var(--color-background-secondary);
}
